/* debug */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  background-color: black;
  color: white;
  padding: 30px 5%;
}

/* main */
main {
  background-color: rgb(40, 40, 40);
  color: white;
  height: 100vh;
  padding: 50px 2%;
}

.film-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.film-card-container {
  background-color: rgb(40, 40, 40);
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  flex-basis: calc((100% / 3) - 20px);
  line-height: 1.4;

  h3{
    font-size: 1.2rem;
    padding-bottom: 10px;
  }

  .abstract {
    padding-top: 10px;
  }
}